<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="static/styles.css">
</head>

<body>
    <div class="conversion-container">
        <h2 class="conversion-title">Convert BMP to PNG</h2>
        <form>
            <input type="file" id="image" accept=".bmp">
            <br><br>
            <button type="button" onclick="convertImage()">Convert to PNG</button>
        </form>
        <p id="error"></p>

        <script>
            function convertImage() {
                // Get selected image file
                var image = document.getElementById('image').files[0];

                // Check if image is selected and is in BMP format and less than 5MB
                if (!image) {
                    document.getElementById('error').innerHTML = 'Please select an image.';
                    return;
                }
                if (image.type !== 'image/bmp') {
                    document.getElementById('error').innerHTML = 'Invalid image type. Please select a BMP image.';
                    return;
                }
                if (image.size > 5000000) {
                    document.getElementById('error').innerHTML = 'Image size too large. Please select an image less than 5MB.';
                    return;
                }

                // Create FormData object
                var data = new FormData();
                data.append('image', image);

                // Send POST request to "/api/bmptopng" with image as parameter
                fetch('/api/bmptopng', {
                    method: 'POST',
                    body: data
                }).then(function (response) {
                    return response.blob();
                }).then(function (imageBlob) {
                    // Open the image in new tab
                    var url = URL.createObjectURL(imageBlob);
                    var a = document.createElement('a');
                    a.href = url;
                    a.download = 'converted.png';
                    a.click();
                    URL.revokeObjectURL(url);
                });
            }
        </script>
</body>

</html>