<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="static/styles.css">
</head>

<body>
    <div class="conversion-container">
        <h2 class="conversion-title">Convert PNG to PDF</h2>
        <form>
            <input type="file" id="image" accept=".png">
            <br><br>
            <button type="button" onclick="convertToPDF()">Convert to PDF</button>
        </form>
        <p id="error"></p>
        <script>
            function convertToPDF() {
                // Get selected image file
                var image = document.getElementById("image").files[0];
                // Check if image is selected and is in PNG format and less than 5MB
                if (!image) {
                    document.getElementById("error").innerHTML = "Please select an image.";
                    return;
                }
                if (image.type !== "image/png") {
                    document.getElementById("error").innerHTML = "Invalid image type. Please select a PNG image.";
                    return;
                }
                if (image.size > 5000000) {
                    document.getElementById("error").innerHTML = "Image size too large. Please select an image less than 5MB.";
                    return;
                }
                // Create FormData object
                var data = new FormData();
                data.append("image", image);
                // Send POST request to "/api/pngtopdf" with image as parameter
                fetch("/api/pngtopdf", {
                    method: "POST",
                    body: data,
                })
                    .then((response) => {
                        return response.blob();
                    })
                    .then((pdfBlob) => {
                        // Open the pdf in new tab
                        var url = URL.createObjectURL(pdfBlob);
                        var a = document.createElement("a");
                        a.href = url;
                        a.download = "converted.pdf";
                        a.click();
                        URL.revokeObjectURL(url);

                    });
            }
        </script>
</body>

</html>